p.header{
    color: white;
	text-align:center;
}

div.pic{

	text-align:center;
}

p.profile{
	text-align:center;
	
	margin:auto;
	width:50%;
    color: indigo;
    background-color: lightblue;
	

}


body{
	background-image: url(background.gif);
	background-size: 100%;
	background-repeat: no-repeat;

}

